header {
    background-color:  #282828 !important;
    display: flex;
    margin-top: 5px;
    align-items: center;
    width: 98%;
    margin-left: 1%;
    color: whitesmoke;
    height: 80px !important;
    border: 2px solid rgb(56, 56, 56);
    position:fixed;
    border-radius: 20px;
    justify-content: center !important;
   
}

/* Logo a názov stránky */
.header-content {
    display: flex;
    text-decoration: none;
 
    height: 100%;
    gap: 0px !important;
    align-items: center;
}

.header-logo {
    width: 80px !important;
    height: auto !important;
    margin-right: 20px;
}

.header-title {
    font-size: 2rem !important;

    color:whitesmoke !important;
    font-family: "Montserrat" !important;
}

/* Navigácia */
hr{color: whitesmoke !important;}
.nav-item a:hover {
    background-color: #555;
    color: white !important;
}

/* Login */
.header-login{
    margin-right: 5px;
}
.header-login a {
    font-size: 1.5rem;
    color: whitesmoke !important;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header-login a:hover {
    background-color: #555;
    color: whitesmoke;
}
.nav-custom{
    width: 50rem;
}
.head-con-second{
    margin-right: 0px !important;
    width: 50% !important;
}
.nav-item{
    flex: 1;
   
}
.navbar-nav{
    width: 100%;
    display: flex;
    background-color: #282828;
}
.nav-item{
  color: whitesmoke !important;
  font-weight: 500;
  transition: color 0.3s;
}

/* Prepíšeme všetky možné varianty Bootstrap navigácie */
.navbar,
.navbar.bg-body-tertiary,
.navbar-expand-lg,
.navbar-expand-lg.bg-body-tertiary,
nav.bg-body-tertiary,
header.bg-body-tertiary,
.bg-body-tertiary {
    background-color: #282828 !important;
    --bs-bg-opacity: 1;
    --bs-tertiary-bg-rgb: 40, 40, 40;  /* RGB hodnoty pre #282828 */
}

/* Zabezpečíme, že aj container v navigácii bude mať správnu farbu */
.container-fluid {
    background-color: #282828 !important;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: whitesmoke;
  
}
    
.navbar, .navbar.bg-body-tertiary, .navbar-expand-lg, .navbar-expand-lg.bg-body-tertiary, nav.bg-body-tertiary, header.bg-body-tertiary, .bg-body-tertiary{
  
   
    margin-left: 0% !important;
}
